table {
  font-family: sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
caption {
  border: 1px solid black;
  padding: 4px;
}

caption {
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
}

.red {
  color: red;
}
